<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket_Turno</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 style="text-align:center">Ticket Turno</h3>
        <img src="./assets/logo.png" alt="">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>NombreCompleto: </label>
            <input type="text" formControlName="NombreCompleto" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls['NombreCompleto'].errors }" />
            <div *ngIf="submitted && registerForm.controls['NombreCompleto'].errors" class="text-danger">
              <div *ngIf="registerForm.controls['NombreCompleto'].errors['required']">El NombreCompleto no puede ir vacio</div>
              <div *ngIf="registerForm.controls['NombreCompleto'].errors['pattern']">NombreCompleto No Valido</div>
              
            </div>
          </div>

          <div class="form-group">
            <label>CurpComple: </label>
            <input type="text" formControlName="CurpComple" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls['CurpComple'].errors }" />
            <div *ngIf="submitted && registerForm.controls['CurpComple'].errors" class="text-danger">
              <div *ngIf="registerForm.controls['CurpComple'].errors['required']">Favor de introducir su CurpComple</div>
              <div *ngIf="registerForm.controls['CurpComple'].errors['pattern']">Favor de introducir su CurpComple</div>
            </div>
          </div>

          <div class="form-group">
            <label>NombrePaterno: </label>
            <input type="text" formControlName="NombrePaterno" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls['NombrePaterno'].errors }" />
            <div *ngIf="submitted && registerForm.controls['NombrePaterno'].errors" class="text-danger">
              <div *ngIf="registerForm.controls['NombrePaterno'].errors['required']">No puede ir vacio este campo</div>
            </div>
          </div>

          <div class="form-group">
            <label>NombreMaterno: </label>
            <input type="text" formControlName="NombreMaterno" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls['NombreMaterno'].errors }" />
            <div *ngIf="submitted && registerForm.controls['NombreMaterno'].errors" class="text-danger">
              <div *ngIf="registerForm.controls['NombreMaterno'].errors['required']">No puede ir vacio este campo</div>
            </div>
          </div>

          <div class="form-group">
            <label>Tel: </label>
            <input type="tel" formControlName="tel" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls['tel'].errors }" />
            <div *ngIf="submitted && registerForm.controls['tel'].errors" class="text-danger">
              <div *ngIf="registerForm.controls['tel'].errors['required']">Tel es obligatorio</div>
              <div *ngIf="registerForm.controls['tel'].errors['minLength']"></div>
              <div *ngIf="registerForm.controls['tel'].errors['pattern']">Te faltan digitos</div>
            </div>
          </div>

          <div class="form-group">
            <label>Cel: </label>
            <input type="tel" formControlName="cel" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls['cel'].errors }" />
            <div *ngIf="submitted && registerForm.controls['cel'].errors" class="text-danger">
              <div *ngIf="registerForm.controls['cel'].errors['required']">Cel es obligatorio</div>
              <div *ngIf="registerForm.controls['cel'].errors['minLength']"></div>
              <div *ngIf="registerForm.controls['cel'].errors['pattern']">Te faltan digitos</div>
            </div>
          </div>


          <div class="form-group">
            <label>Correo: </label>
            <input type="text" formControlName="Correo" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls['Correo'].errors }" />
            <div *ngIf="submitted && registerForm.controls['Correo'].errors" class="text-danger">
              <div *ngIf="registerForm.controls['Correo'].errors['required']">Correo es obligatorio</div>
              <div *ngIf="registerForm.controls['Correo'].errors['Correo']">Correo no cumple el formato</div>
            </div>
          </div>

          <div class="form-group">
            <label for="Nivel">¿Nivel al que desea ingresar o que ya esta cursando el alumno?: </label>
            <select class="selects" name="Nivel" id="Nivel">
                <option value="" selected disabled hidden>--selecccionar--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="municipio">Municipio donde desea estudie el alumno: </label>
            <select class="selects" name="municipio" id="municipio">
                <option value="" selected disabled hidden>--selecccionar--</option>
                <option value="saltillo">saltillo</option>
                <option value="parras">parras</option>
                <option value="torreon">torreon</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Asunto">Seleccione el Asunto que va a tratar: </label>
            <select class="selects" name="Asunto" id="Asunto">
                <option value="" selected disabled hidden>--selecccionar--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
      
          <div class="form-group">
            <div class="btn">
              <button class="btn btn-primary">Registrar</button>
            </div>
              
          </div>

          <footer class="contenedor-contenido footer">
            <img src="./assets/codigo.png" alt="">
            <img src="./assets/QR.png" alt="">
          </footer>

        </form>
      </div>
    </div>

  </div>
</body>
</html>
